body {
    background-color: tan;
    text-align: center;
}
.add{
    
    box-shadow: 0px 1px 1px -1px darkgrey;
}
.add:hover {
    transform: translatey(-2px);
    box-shadow: 0 2px 1px -2px darkgray;
}

.subtr{
    
    box-shadow: 0px 1px 1px -1px darkgray;

}
.subtr:hover {
    transform: translatey(-2px);
    box-shadow: 0 2px 1px -2px darkgray;
}

.interface {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    transform: translateY(50%);
    
}